bottomup-list {
    .history-list{
        height:100%;
        overflow-y: scroll;
        transition-duration:300ms;
    }
    .history-value{
        height:24px;
    }
    .history-hr{
        border-bottom:1px dotted #858585;
    }
}
