<div class="xcalc">
  <ion-grid class="xcalc__grid">
    <ion-row class="xcalc__display">
      <ion-grid>
        <ion-row class="history">
          <ion-col id="history-col" col-12>
            <div id="history-list" class="history-list" [style.marginTop.px]="marginTop">
              <ng-container *ngFor="let c of calcs; let last = last">
                <div *ngIf="!(c.Operator == '=' && last)"  class="history-value">{{c.Operator}} {{c.Buffer | commaSeparatorPipe}}</div>
                <div *ngIf="c.Operator == '=' && !last" class="history-value">------------------------------</div>
              </ng-container>
            </div>
          </ion-col>
        </ion-row>
        <ion-row justify-content-end class="main">
          <ion-col id="main-display" align-self-end col-12>
            <div *ngIf="nowOperate != '='" [flowtype]="12" text="{{nowOperate}} {{nowCalc.Buffer | commaSeparatorPipe}}" id="main-display-buf"></div>
            <div *ngIf="nowOperate == '='" [flowtype]="12" text="= {{sumCalcs() | commaSeparatorPipe}}"></div>
          </ion-col>
        </ion-row>
        <ion-row justify-content-center class="sub">
          <ion-col align-self-end col-12>
            <div *ngIf="nowOperate != '='" [flowtype]="7" text="= {{sumCalcs() | commaSeparatorPipe}}"></div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-row>
    <ion-row class="xcalc__controller">
      <ion-grid>
        <ion-row justify-content-center>
          <ion-col col-3><button (tap)="allClear()" ion-button color="numericbt">AC</button></ion-col>
          <ion-col col-3><button (tap)="clear()" ion-button color="numericbt">C</button></ion-col>
          <ion-col col-3>
            <button (tap)="pull()" ion-button color="numericbt"><ion-icon name="backspace-outline"></ion-icon></button>
          </ion-col>
          <ion-col col-3 class="operator"><button (tap)="operator('÷')" ion-button color="operatorbt">÷</button></ion-col>
        </ion-row>
        <ion-row justify-content-center>
          <ion-col col-3><button (tap)="push(7)" ion-button color="numericbt">7</button></ion-col>
          <ion-col col-3><button (tap)="push(8)" ion-button color="numericbt">8</button></ion-col>
          <ion-col col-3><button (tap)="push(9)" ion-button color="numericbt">9</button></ion-col>
          <ion-col col-3 class="operator"><button (tap)="operator('×')" ion-button color="operatorbt">×</button></ion-col>
        </ion-row>
        <ion-row justify-content-center>
          <ion-col col-3><button (tap)="push(4)" ion-button color="numericbt">4</button></ion-col>
          <ion-col col-3><button (tap)="push(5)" ion-button color="numericbt">5</button></ion-col>
          <ion-col col-3><button (tap)="push(6)" ion-button color="numericbt">6</button></ion-col>
          <ion-col col-3 class="operator"><button (tap)="operator('-')" ion-button color="operatorbt">-</button></ion-col>
        </ion-row>
        <ion-row justify-content-center>
          <ion-col col-3><button (tap)="push(1)" ion-button color="numericbt">1</button></ion-col>
          <ion-col col-3><button (tap)="push(2)" ion-button color="numericbt">2</button></ion-col>
          <ion-col col-3><button (tap)="push(3)" ion-button color="numericbt">3</button></ion-col>
          <ion-col col-3 class="operator"><button (tap)="operator('+')" ion-button color="operatorbt">+</button></ion-col>
        </ion-row>
        <ion-row justify-content-center>
          <ion-col col-3><button (tap)="percent()" color="numericbt" ion-button>%</button></ion-col>
          <ion-col col-3><button (tap)="push(0)" color="numericbt" ion-button>0</button></ion-col>
          <ion-col col-3><button (tap)="decimal()" color="numericbt" ion-button>.</button></ion-col>
          <ion-col col-3 class="operator"><button (tap)="operator('=')" color="operatorbt" ion-button>=</button></ion-col>
        </ion-row>
      </ion-grid>
    </ion-row>
  </ion-grid>
</div>

